<%- include("header",{title:"intro",hClass:"",css:["style.css","m_style.css","intro.css"]}) %>

<div class="intro_area">
    <div class="center">
        <h2 class="title">서울심장병원을 소개합니다.</h2>
        <div class="box_area">
            <div class="box1">
                <div class="box_top">
                    <div class="icon"><img src="/img/intro1.png"></div>
                    <h1>국내 최대 심장전문동물병원</h1>
                </div>
                <div class="box_bot">
                    <p>넓고 쾌적한 진료를 위해서 120평 규모로 운영되고 있습니다.</p>
                </div>
            </div>
            <div class="box1">
                <div class="box_top">
                    <div class="icon"><img src="/img/intro2.png"></div>
                    <h1>공기 청정기 20여대 가동</h1>
                </div>
                <div class="box_bot">
                    <p>모든 보호자 대기실, 병원 곳곳에 공기 청정기가 설치되어 있습니다. 그 어떤 공간보다 쾌적하고 깨끗한 공기를 마실 수 있습니다.</p>
                </div>
            </div>
            <div class="box1">
                <div class="box_top">
                    <div class="icon"><img src="/img/intro3.png"></div>
                    <h1>모든 보호자는 독립된 넓은 개별 대기실에서 진료 대기와 휴식이 가능합니다.</h1>
                </div>
                <div class="box_bot">
                    <p>국내 최초로 모든 대기실은 기존의 공동 공간이 아닌 독립된 공간으로 운영됩니다. 코로나 19의 힘든 시대에 보호자와 동물환자는 독립된 공간에서 안전하고 편안한 치료를 받을 수 있습니다.</p>
                </div>
            </div>
            <div class="box1">
                <div class="box_top">
                    <div class="icon"><img src="/img/intro4.png"></div>
                    <h1>대규모 첨단 자동 환기 시스템</h1>
                </div>
                <div class="box_bot">
                    <p>병원 전체는 최첨단 대형 자동환기 시설을 통해서 모든 공간이 상시 자동환기 됩니다. 코로나 등 감염성 질환의 감염위험을 자동 환기 시스템으로 대폭 줄이고, 보호자와 동물환자 모두가 쾌적한 공기를 마실 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>