<%- include("header",{title:"",hClass:"",css:["style.css","treatment_info.css","m_style.css"]}) %>

<div class="mid_area">
    <div class="center">
        <div class="left">
            <div class="title_area">
                <h2 class="title">진료안내</h2>
                <h4 class="sub_title">서울동물심장병원 <span>원장 이승곤입니다.</span></h4>
            </div>
            <div class="text1">
                <p>
                    지금까지 20년 동안 약 36,000 건의 심장병 진료를 했습니다. 다년간의 풍부한 경험, 깊은
                    전문지식, 실수를 줄이는 선진 진료 시스템, 사람의 한계를 보완하는 첨단장비, 학자로서 원칙,
                    환자를 위한 철저함과 꼼꼼함을 바탕으로 안정적인 진료를 추구합니다.
                </p>
            </div>
            <div class="text2">
                <p>
                    저희는 환자의 진료 및 이동 스트레스 최소화를 매우 중요하게 생각합니다. 
                    고양이 보호자나 매우 허약하고 민감한 노령견의 보호자를 위한 스트레스 최소화 프로그램을 운영하고 있습니다. 
                    보호자께서는 진료 전 환자 없이 미리 내원하시어 스트레스 최소화를 위한 약물 처방과 보호자 교육을 반드시 받으실 것을 권장합니다.
                </p>
            </div>
        </div>
        <div class="right">
            <img src="/img/login_bg.png">
        </div>
    </div>
</div>
<%- include("footer") %>
